/***********************************************************
 * These styles apply for native components on iOS.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/

 navigation-bar {
   background-color: #18C9A7;
   color: #ffffff;
 }

 navigation-bar title {
   color: #ffffff;
   font-size: 18px;
   font-weight: 600;
   font-family: 'Quicksand', serif;
 }

navigation-bar button, navigation-bar back-bar-button {
  color: #ffffff;
  font-weight: 300;
}

tab-bar {
  background-color: #ffffff;
  border-top: 1px #d8d8d8 solid;
}

tab-bar tab-bar-item {
  color: #b0b1b4;
  font-family: "Quicksand", serif;
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #18C9A7;
}

tab-bar-item#map{
  background-image: url(icons/ei-location.svg);
}

tab-bar-item#food {
  background-image: url(icons/feed.svg);
}

tab-bar-item#map {
  background-image: url(icons/ei-location.svg);
}

tab-bar-item#favorites {
  background-image: url(icons/home.svg);
}

tab-bar-item#capture {
  background-image: url(icons/camera.svg);
}
