<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Food Feed
    </super-navbar-title>

  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">

    <img class="logo" src="/img/logo.png" />
    
    <ul class="list" ng-hide="foods.length == 0">

      
        <li class="entry" ng-repeat="food in foods">
          <super-navigate location="food#show" data-params-id="{{ food.id }}" >
            <img src="{{food.Image}}">

            <div class="example animated">
              <i class="fa fa-cloud" style="font-size:6em"></i>
            </div>


          </super-navigate>
          <i class="fa fa-cloud" style="font-size:2em" ng-click='selectCloud($event)'></i>
          <span class="entry-title" ng-bind="food['Name']"></span>



          <div class="extra-info">
          <i class="fa fa-map-marker"></i>
          <span>Honolulu, HI</span>
          <i class="fa fa-user"></i>
          <span ng-bind="food['User']"></span>
          </div>


        </li>
      

    </ul>
   

   
  </div>
</div>
