<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Food Index
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    
    <ul class="list" ng-hide="foods.length == 0">

      <super-navigate location="food#show" data-params-id="{{ food.id }}" ng-repeat="food in foods">
        <li class="entry">
          <img src="{{food.Image}}">
          <span ng-bind="food['Name']"></span>
        </li>
      </super-navigate>

    </ul>
   

   
  </div>
</div>


