<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
    <div class="detail">
      <img src="{{food.Image}}">
      <img src="{{food.Location}}">
      <h2 ng-bind="food['Name']"></h2>      


      <super-modal-show location="food#edit?id={{ food.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(food.id)" class="button button-block button-negative">
        Remove
      </button>
      </div><!-- </detail -->
    </div>
  </div>
</div>
