<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>
  <div class="detail">
  <img src="{{food.Image}}">
  <img src="/img/mockup-detail.png">

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">

      <div class="entry-info">
      <h2 ng-bind="food['Name']"></h2>

      <div class="right-info">
      <img src="/icons/ei-location.svg" style="height:25px;" />
      <span class="location">Honolulu, HI</span>

      </div>


      <span ng-bind="food['Description']"></span>

      <span>{{food.Favorite}}</span>


      </div><!-- </entryinfo>-->


      <super-modal-show location="food#edit?id={{ food.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(food.id)" class="button button-block button-negative">
        Remove
      </button>
      </div><!-- </detail -->
    </div>
  </div>
</div>
